@import "../bower_components/bootstrap/less/bootstrap";
@import "../bower_components/bootstrap-material-design/less/ripples";
@import "../bower_components/bootstrap-material-design/less/material-wfont";

.container {
  width: 100%;
}

#gf-wrapper {
}

.gf-content {
  padding: 10px;
}

.checkbox label span {
  display: inline;
  position: static;
  left: 0px;
  transition-duration: 0.2s;

  &.ripple &.check {
    display: block;
    position: absolute;
  }
}
